<%= turbo_stream.remove "empty-chat-placeholder" %>

<%= turbo_stream.append "messages" do %>
  <%= render "messages/message", message: @user_message %>
  <%= render "messages/message", message: @assistant_message %>
<% end %>

<%= turbo_stream.replace "new_message_container" do %>
  <div id="new_message_container">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
<% end %>
