<nav id="navbar" class="navbar bg-body-tertiary geist-pixel-brand">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "GuideRailsLogoScaledTransparent.png",
          id: "GuideRailsLogo",
          width: 75,
          height: 60 %>
    <% end %>

    <div class="d-flex align-items-center">

      <% if user_signed_in? %>

        <%= link_to "New Chat", new_chat_path,
            class: "btn btn-outline-secondary me-2" %>

        <%= link_to "Past Chats", chats_path,
            class: "btn btn-outline-secondary me-2" %>

        <div class="dropdown">
          <a href="#" class="avatar" id="navbarDropdown"
             data-bs-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png",
                class: "avatar",
                alt: "User menu" %>
          </a>

          <div class="dropdown-menu dropdown-menu-end"
               aria-labelledby="navbarDropdown">

            <%= link_to "Log Out",
                destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "dropdown-item" %>

          </div>
        </div>
      <%# When a user is signed in, they can see the new chat, and past chat buttons; as well as their avatar (to log out!) %>
      <% else %>

        <%= link_to "Log In",
            new_user_session_path,
            class: "btn btn-outline-secondary me-2" %>

        <%= link_to "Sign Up",
            new_user_registration_path,
            class: "btn btn-outline-secondary" %>
      <%# If a user is NOT signed in, then can only see the sign- and log-in button! %>
      <% end %>

    </div>
  </div>
</nav>
